.container {    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-family: 'Lexend Deca', sans-serif;
}
.orange {
    --color: hsl(31, 77%, 52%); 
    /* color: hsl(31, 77%, 52%);
    background-color: hsl(31, 77%, 52%); */
}
.cyan-light {
    --color: hsl(184, 100%, 22%);
}
.cyan-dark {
    --color: hsl(179, 100%, 13%);
}

.card {
    max-width: 250px;
    min-height: 450px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--color);
    background-color: var(--color);
}
.card h2 {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-size: 2.6rem;    
    font-family: 'Big Shoulders Display', cursive;   
    font-weight: 700; 
}
.card p {
    line-height: 2rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.card button {
    width: 200px;
    font-size: 1.1rem;
    color: currentColor;
    border: 3px solid hsla(0, 0%, 100%, 0.75);
    background-color: hsla(0, 0%, 100%, 1);;        
    border-radius: 30px;
    padding: 1rem;
}
.card button:hover {
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
}


@media screen and (min-width: 600px) {
    .container {
        flex-wrap: wrap;
        flex-direction: row;
    }
}
@media screen and (min-width: 900px){
    .container {
        height: 100vh;
        width: 80%;        
        flex-wrap: nowrap;
    }
}